html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}

.Navbar {
  height: 3rem;
  display: flex;
  align-items: center;
  padding-right: 25rem;
  font-size: 14px;
  font-weight: 600;
  color: rgb(80, 95, 127);
  text-transform: uppercase;
  padding-left: 5rem;
  position: static;
}

.spacer {
  flex-grow: 1;
}

.Navbar > p {
  padding-left: 2rem;
}

.Navbar > h4 {
  color: rgb(31, 42, 68);
  font-size: 22px;
}

.Navbar:hover > p {
  cursor: pointer;
}

.Above {
  background-color: rgb(65, 103, 207);
  height: 20rem;
  color: white;
  padding: 3rem 0 0 20rem;
  position: relative;
}

.Above > h1 {
  font-weight: 900;
}

.Above > p {
  color: white;
  font-size: 22px;
}

.Sidebar {
  background: tomato;
}

.Main {
  background-color: rgb(246, 247, 249);
  min-height: 100vh;
  /* display: grid; */
  /* grid-template-rows: 10rem 1fr; */
  /* color: white; */
}

.holder {
  display: flex;
  padding: 0 20rem 0 20rem;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: -3rem;
}

.one {
  background: #fff;
  height: 20rem;
  width: 60rem;
  padding: 30px;
}

.color {
  color: tomato;
  font-weight: 500;
}

.color:hover {
  cursor: pointer;
  color: blue;
}

.color1 {
  color: #787878;
  padding-left: 1rem;
}

.one > span {
  font-size: 16;
}

.five:hover {
  cursor: pointer;
  color: tomato;
}

.pee {
  color: #787878;
}

.two {
  background: #fff;
  height: 20rem;
  width: 30rem;
  margin-left: 2rem;
}

.Footer {
  background: rgb(50, 71, 107);
  height: 20rem;
}
